@model EventManagementSystem.View_Models.AssignRoleViewModel

@{
    ViewData["Title"] = "AssignRole";

}

<h1>AssignRole</h1>

<h4>AssignRole</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AssignRole" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserId">User</label>
                <select asp-for="UserId" asp-items="@Model.Users"></select>
                <span asp-validation-for="RoleId"></span>
            </div>
            <div class="form-group">
                <label asp-for="RoleId">Role</label>
                <select asp-for="RoleId" asp-items="@Model.Roles"></select>
                <span asp-validation-for="UserId"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Assign" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
