@model RoleViewModel
@{
    ViewData["Title"] = "Create Role";
    Layout = "_DashBoardLayout";
}
<style>
    .LogInContainer {
        width: 100%;
        min-height: 60vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .mainContent {
        width: 500px;
        border-radius: 10px;
        overflow: hidden;
        padding: 55px 55px 37px;
        background-color: #003A66;
    }

    .formHeader {
        color: #e02454;
        font-weight: bold;
    }

    label {
        color: white;
        font-size: 20px;
    }
</style>

<div class="LogInContainer">
    <div class="mainContent">
        <h1 class="text-center formHeader">Role Creating</h1>
        <div>
            <form asp-action="Create" method="post" id="createRoleForm">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        document.getElementById("createRoleForm").addEventListener("submit", function (event) {
            event.preventDefault(); // Prevent the form from submitting immediately

            Swal.fire({
                title: 'Great Job!',
                text: "Role Added Successfully",
                icon: 'success',
            }).then((result) => {
                if (result.isConfirmed) {
                    this.submit(); // Submit the form after the user confirms
                }
            });
        });
    </script>
}
