@model RegisterUserViewModel

@{
    ViewData["Title"] = "Login";
    Layout = "_HomeLayout";
}

<style>
    .RegisterContainer {
        width: 100%;
        min-height: 60vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-top:20px;
        margin-bottom:20px;
    }

    .mainContent {
        width: 500px;
        border-radius: 10px;
        overflow: hidden;
        padding: 55px 55px 37px;
        background-color: #003A66;
    }

    .formHeader {
        color: #e02454;
        font-weight: bold;
    }

    label {
        color: white;
        font-size: 20px;
    }
</style>

<div class="RegisterContainer">
    <div class="mainContent">

        <h1 class="text-center formHeader">Register</h1>
        <div>
            <form asp-action="Register" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group" style="margin-bottom:10px;">
                    <label asp-for="UserName" class="control-label"></label>
                    <input asp-for="UserName" class="form-control" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="form-group" style="margin-bottom:10px;">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group" style="margin-bottom:10px;">
                    <label asp-for="ConfirmPassword" class="control-label"></label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="form-group" style="margin-bottom:10px;">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group" style="margin-bottom:10px;">
                    <label asp-for="ConfirmEmail" class="control-label"></label>
                    <input asp-for="ConfirmEmail" class="form-control" />
                    <span asp-validation-for="ConfirmEmail" class="text-danger"></span>
                </div>
                <div class="form-group" style="margin-bottom:10px;">
                    <label asp-for="Phone" class="control-label"></label>
                    <input asp-for="Phone" class="form-control" />
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
                <div class="form-group" style="margin-bottom:10px;">
                    <label asp-for="Age" class="control-label"></label>
                    <input asp-for="Age" class="form-control" />
                    <span asp-validation-for="Age" class="text-danger"></span>
                </div>
                <div class="form-group" style="margin-bottom:10px;">
                    <label asp-for="Address" class="control-label"></label>
                    <input asp-for="Address" class="form-control" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Register" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}