@model EventManagement.Areas.System.View_Models.ChangePasswordViewModel

@{
    ViewData["Title"] = "ChangePassword";
    Layout = "_DashBoardLayout";
}

<style>
    label {
        font-size: 20px;
        font-weight: bold;
    }
</style>

<h1>ChangePassword</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form id="change-password-form" asp-action="ChangePassword" asp-area="Organizer" asp-controller="Organizer" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OldPassword" class="control-label"></label>
                <input asp-for="OldPassword" class="form-control" />
                <span asp-validation-for="OldPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewPassword" class="control-label"></label>
                <input asp-for="NewPassword" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="control-label"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a asp-action="Index" asp-controller="EventOrganizer" asp-area="Organizer" class="btn btn-primary mr-5">Back to Events Table</a>
                <input type="button" value="Change Password" class="btn btn-primary" onclick="submitForm()" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        function submitForm() {
            var form = $("#change-password-form");

            $.ajax({
                type: 'Post',
                url: form.attr('action'),
                data: form.serialize(),
                success: function (response) {
                    Swal.fire({
                        icon: 'success',
                        title: 'Success',
                        text: 'Password updated successfully!',
                    });
                },
                error: function (xhr, status, error) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Failed to update, check it later!',
                    });
                }
            });
        }
    </script>
}
